/* ignore editor specific stuff */
.vs
.vscode

/* the packages */ 
node_modules
bower_components

/* all the Typescript generated stufff */
app/*.js.map
app/*.js
typings/

/* test reports */
test/reports
e2e/reports