/* hide the default html checkbox */
.mdl-checkbox__input {
    visibility: hidden;
}

/* the ' - ' partial checkbox state */
.mdl-checkbox.md-indeterminate .mdl-checkbox__tick-outline {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: table;
    width: 9px;
    height: 2px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: '';
}