.node {
    background-color: #eee;
}

.bullet {
    background-color: transparent;
    float: left;
    width: 10px;
}

.content {
    margin-left: 10px;
    width: 200px;
}

.entity {
    background-color: #0080FF;
}

.instance {
    background-color: #FF8000;
}
