.bullet {
    background-color: transparent;
    float: left;
    width: 10px;
}

.content {
    margin-left: 10px;
    width: 200px;
}

.entity {
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
}

.instance {
    padding-bottom: 3px;
    padding-top: 3px;
}
