.category {
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.4),0 3px 1px -2px rgba(0,0,0,.4),0 1px 5px 0 rgba(0,0,0,.4);  
}

.categoryTitleBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.categoryText {
  width: 90%
}

.highlighted {
  background-color:#c6e5ff;
}

.notHighlighted {
  background-color:white;
}